<h2>Hello <%= @user.first_name %></h2>
<hr>

<div class="links">
  <% @user.links.order(created_at: :desc).each do |link| %>
    <a href= "<%= link.url %>"><%= link.title %></a> <br> <br>
  <% end %>
</div>
